* {
    margin: auto 0;
    padding: 0;
    line-height: 25px;
    }

body {
    background-color: #05051C;
    max-width: 100%;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: grey;
}

.imgbackground {
    background-image: url(../images/backgroundimg.png);
    height: 2000px;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space {
    padding: 200px 300px;
}

.space2 {
    padding: 200px 200px;
}



/*---
-----
HEADER
-----
---*/

.header ul {
  overflow:hidden;
  margin: 0 auto;
  padding: 20px 0;
  align: center;
  list-style-type: none;
  width: 100%;
  text-align: center;
 background-color: ##010000;
}

.header ul li {
    display: inline;
    font-size: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    text-align:center;
    letter-spacing: 1.2px;
    color: #62affe;
    font-family: ;
}

.header a {
    color: white;
    text-decoration: none;
}

header ul a:hover {
    text-decoration: underline;
}



/*---
-----
Typography
-----
---*/

h1, h2, h3 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;f
}

h4 {
    text-align: center;
    margin-top: 20px;
    color: white;
    
}

.title {
   position: absolute; 
   top: 500px; 
   left: 18%; 
   width: 100%; 
}

p {
     color: white;
    font-family: 'Taviraj', serif;
}
    

table tr td {
    color: white;
}


h1 {
    font-size: 50px;}
h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    padding-bottom: 10px;}

.blockquote {
    font-size: 35px;
    text-align: center;
    line-height:1.2em;
    color: black;
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

cite {
    position: relative; 
    left: 811px;
    color: white;
}



hr { 
    margin: 30px 0;
}

/*---
-----
Bird
-----
---*/


#extinctbird {
    background-color: #010000;
}


#extinctbird p {
    color: white;}
    





/*---
-----
Futile Wings
-----
---*/

#footspan {
    background-color: #1D1220;
}

#footspan p {
    color: white;}

#footspan caption {
    color: white;
}

.image {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgcaption {
    color: white;
}

#caption {
    color: white;
    text-align: center;
}




/*---
-----
Blockquote
-----
---*/

#blockquote {
    background-color: #010000;
    background-image: url(../images/quotebackground1.png);
    background-size: cover;
    background-position: center center;
    height: 1000px;
    position: relative;
}

#blockquote2 {
    background-color: #010000;
    background-image: url(../images/quotebackground2.png);
    background-size: cover;
    background-position: center center;
    height: 1000px;
    position: relative;
}




/*---
-----
MOA
-----
---*/

#MOA {
    background-color: #1D1220;
}




.floatleft {
    float: left;
    max-width: 60%;
    padding-top: 30px;
}

.floatright {
    float: right;
    max-width: 40%;
}

.hrleft {
    margin-left: 10px;
    max-width: 80%;
    margin: 0 auto;
}



/*---
-----
Quest
-----
---*/

#quest {
    background-color: #010000;
}




.box_3 {
			
			width: 50%;
			height: 600px;
			background-color: #010000;
		
		}
		
		.box_4 {
			
			width: 50%;
			height: 600px;
            background-color: white;
		
		}

.quest {
   padding: 30px; 
}

/*---
-----
Winter
-----
---*/

#winter

{
    background-image: url(../images/winterbackground.png);
    background-size: cover;
    background-position: center center;
    height: 1000px;
    position: relative;
}





/*---
-----
New Zealand
-----
---*/

#newzealand {
    background-color: #010000;}

.box_1 {
			
			width: 50%;
			height: 800px;
			background-color: #010000;
		
		}
		
		.box_2 {
			
			width: 50%;
			height: 800px;
            background-color: white;
		
		}
		
		.left {float: left;}
		.right {float:right;}
		.center {text-align: center;}

.NZ {
   padding: 30px; 
}

table tr td {
    color: #05051c;
}

table {
    font-size: 25px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #05051c;
    padding: 30px 10px;
}


/*---
-----
Media Queries
-----
---*/

@media (max-width: 1000px) {
    .space {
      padding: 10%;
    }
    
    .space2 {
      padding: 10%;
    }
    
    .blockquote {
 
        font-size: 25px;
        } 
    
    .cite {
        max-width: 10%;
    }
    
    .NZ p {
        font-size: 12px;
    }
    
}


/*---
-----
Footer
-----
---*/

footer {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    background-color: #1D1220;
    max-width: 100%;
    margin: 0 auto;
    
}

.footer {
    max-width: 80%;
    margin: 0 auto;
}